{% include "attribute-item-has-valid-properties" %}

{% if item_has_valid_properties %}
  <ul>
    <li>
      {% for p in item.properties %}
        {% unless p.last == blank %}
          {{ p.first }}:

          {% if p.last contains '/uploads/' %}
            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
          {% else %}
            {{ p.last }}
          {% endif %}

          <br>
        {% endunless %}
      {% endfor %}
    </li>
  </ul>
{% endif %}
