<div class="position-center"
  style="width: 3.125rem;">
  <span class="block aspect-ratio-1x1 relative background-off-white border-radius-circle overflow-hidden">
    <div class="absolute position-center">
      <div class="grid columns-3"
        style="grid-gap: 0.1875rem;">
        {%- for num in (1..9) -%}
          <span style="width: 0.1875rem; height: 0.1875rem;"
            class="block background-default border-radius-1"></span>
        {%- endfor -%}
      </div>
    </div>
  </span>
</div>