<div class="js-main-menu-single-image background-light-grey relative height-100 overflow-visible">
  <div class="absolute absolute-fill">
    <img class="block object-fit-cover object-position-center"
      src="{{ dropdown_single_image | img_url: '50x' }}"
      data-src="{{ dropdown_single_image | img_url: '640x', scale: 2 }}"
      alt="{{ link.title }}" />
  </div>
</div>