{%- if product.metafields.custom_fields["text_image_modules"] != blank -%}
  <div class="padding-bottom-8 large--padding-bottom-16 large--padding-top-4">
    {% assign separator = "|###|" %}
    {% assign module_heading_array = product.metafields.custom_fields["module_heading"] | split: separator %}
    {% assign module_text_array = product.metafields.custom_fields["module_text"] | split: separator %}
    {% assign module_image_array = product.metafields.custom_fields["module_image"] | split: separator %}
    {% assign fc_keys = product.metafields.custom_fields["text_image_modules"] | split: "," %}
    {%- for i in fc_keys -%}
      {%- assign index = i | plus: 0 -%}
      {% capture index_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      
      <section class="relative width-100 center large--padding-horizontal-6 max-width-8">
        <div class="large--padding-vertical-12 flex flex-row flex-wrap large--flex-nowrap justify-center relative z-index-2 items-stretch">

          <div class="width-100 large--width-55 relative background-secondary {% if index_cycle == 'even' %}large--order-2{% endif %}">
            <div class="absolute absolute-fill">
              {% include 'cf-image' with image: module_image_array[index], size: "1280x", tag_alt: product.title, tag_class: "block object-fit-cover object-position-center" %}
            </div>

            <div class="aspect-ratio-4x3"></div>
          </div>

          <div class="width-100 large--width-45 padding-6 large--padding-15">
            <div class="width-100 height-100 max-width-content center flex flex-column justify-center large--padding-7">
              <h3 class="font-family-primary font-size-6 large--font-size-9 font-weight-4 margin-bottom-3 text-default letter-spacing--1">
                {{ module_heading_array[index] | replace: "[br]", "<br/>" }}
              </h3>

              {{ module_text_array[index] }}
            </div>
          </div>

        </div>
      </section>
    {%- endfor -%}
  </div>
{%- endif -%}