<div class="js-product-variant-gallery product-variant-gallery width-100 active"
    data-variant-id="{{ current_variant.id }}">

  <div class="js-product-carousel product-carousel">
    {%- for image in product.images -%}
    <div>
      <div class="relative aspect-ratio-1x1">
        <div class="absolute absolute-fill">
          <img class="object-fit-contain object-position-center"
            {% if variant_image_count == 0 %}src{% else %}data-src{% endif %}="{{ image | img_url: '1024x' }}"
            alt="{{ image.alt | escape }}" />
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>

  {% include "product-gallery-navigation" %}
</div>