<li>
  <span class="{{ feature_class }}">For California Residents</span>
  <p class="{{ value_class | replace: 'border-bottom', 'border-none' | replace: 'padding-bottom-4', 'padding-bottom-0' }} margin-bottom-0">
    <a href="https://www.p65warnings.ca.gov/" target="_blank">
      See CA Proposition 65 Warning
    </a>
  </p>
</li>