<div class="background-white text-default text-center padding-vertical-6 line-height-solid">
  <div class="container">
    <div class="rte">
      Already a member? <a href="/account/login?return_url=%2Fpages%2Frewards">Login</a>
    </div>
  </div>
</div>