{%- assign current_collection = collection -%}
{%- assign current_product = product -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{% include "attribute-product-featured-image" %}
{% include "attribute-product-options" %}
{% include "attribute-variant-on-sale" %}

<div class="padding-bottom-8 large--padding-bottom-16">
  <div class="container">
    <div class="grid columns-1 large--columns-3 grid-gap-4">
      <div class="column-span-1 large--column-span-2 large--padding-right-16 margin-horizontal--4 small--margin-horizontal--6 large--margin-horizontal-0">
        <div class="width-100 overflow-hidden text-center">
          <div class="width-100 relative">
            {%- if product.variants.size > 1 -%}
              {% include "product-gallery-by-variant" %}
            {%- else -%}
              {% include "product-gallery" %}
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="column-span-1">
        <div class="padding-bottom-16 large--padding-top-16">
          <h1 class="font-family-heading font-size-7 font-weight-6 letter-spacing-1 text-uppercase margin-top-8 margin-bottom-4">
            {{ product.title }}
          </h1>

          {% include "product-form" %}
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'frequently-bought-together' %}

{% include "product-sticky-bar" %}

{%- if product.metafields.custom_fields["show_custom_content"] == 1 -%}
  {% include "product-dynamic-sections" %}
{%- endif -%}

{% include "product-reviews" %}

{% comment %}
{%- if product.metafields.custom_fields["show_related_products"] == 1 -%}
  {% include "product-related-products" %}
{%- endif -%}
{% endcomment %}

{% section "product-related-products" %}

