<h1 class="invisible">Account Login</h1>

<div class="container padding-vertical-16">
  <div class="large--padding-vertical-16">

    <div class="js-view-container text-center medium--text-left">
      <div class="grid columns-1 medium--columns-2 medium--grid-gap-16">
        <div class="medium--padding-horizontal-8">
          {% section 'customer-login' %}
        </div>

        <div class="medium--padding-horizontal-8">
          {% section 'customer-login-register' %}
        </div>
      </div>
    </div>

    <div class="js-view-container text-center medium--text-left hide">
      {% section "customer-recover-password" %}
    </div>

  </div>
</div>
