{% assign description = "Enter a new password to reset it." %}

{% include "breadcrumb" %}

<div class="container padding-vertical-5">
  <h1 class="margin-vertical-0 font-size-5 font-weight-7 text-center">
    Reset Password
  </h1>

  {% if form.errors %}
    <div class="rte margin-vertical-6" role="alert">
      The following errors were found when the form was submitted:<br/>
      {{ form.errors | default_errors }}
    </div>
  {% elsif description %}
    <div class="rte margin-top-3 margin-bottom-4 text-center">
      {{ description }}
    </div>
  {% endif %}

  <div class="measure-narrow center margin-vertical-5">
    {% form "reset_customer_password" %}

      <div class="input-group margin-bottom-4">
        <label for="reset-password">Password</label>
        <input type="password" id="reset-password" class="input" name="customer[password]" value="" />
      </div>

      <div class="input-group">
        <label for="reset-password-confirmation">Password Confirmation</label>
        <input type="password" id="reset-password-confirmation" class="input" name="customer[password_confirmation]" value="" />
      </div>

      <button type="submit" class="button width-100 margin-top-4 font-size-2">Submit</button>
    {% endform %}
  </div>

</div>

