{% include 'object-param-load', section_name: "instagram" %}

{%- if section.settings.image_feed_type == 'instagram' -%}
  <div class = "instagram-foursixty-container-full" >
    <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="satechi_1" data-theme="showcase_v2_5" data-page-size="4" data-defer-image-loading="true" ></script>
  </div>
{%- else -%}
  <div class="grid columns-2 large--columns-4">
    {%- for block in section.blocks -%}
      <div class="aspect-ratio-1x1 relative">
        <div class="absolute absolute-fill">
          <img data-src="{{ block.settings.image | img_url: '768x768', scale: 2 }}"
            class="block object-fit-cover object-position-center"
            alt="" />
        </div>
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Instagram / Image Feed",
    "settings": [
      {
        "type": "select",
        "id": "image_feed_type",
        "label": "Image feed type",
        "options": [
          {
            "value": "instagram",
            "label": "Instagram by Foursixty"
          },
          {
            "value": "manual",
            "label": "Manually curated images"
          }
        ],
        "default": "manual"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Manual image",
        "limit": 4,
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker",
            "info": "Suggested size: 768 x 768px"
          }
        ]
      }
    ]
  }
{% endschema %}