/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
  Custom CSS
/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *
  Delivery Time
* ------------------------------------------------------------ */

.delivery-time {
  padding-top: 1rem;
  margin: 0;
  font-size: 12px;
  color: var(--color-grey);
  text-align: center;
}

.delivery-time strong {
  font-weight: bold;
}

.custom-slider--collection[data-slider-active="true"] {
  opacity: 1;
  transition: opacity 0.7s linear !important;
}
.custom-slider--collection[data-slider-hidden="true"] {
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  max-height: 0;
  /*     position: absolute;
    left: -9999em; */
}
.custom-slider--collection[data-slider-active="false"] {
  opacity: 0;
  transition: opacity 0.7s linear;
}
.custom-slider--collection[data-slider-hidden="false"] {
  height: initial;
  visibility: visible;
}

.custom-slider--button {
  background: none;
  border: 0;
  cursor: pointer;
}
.custom-slider--button {
  margin-left: 20px;
}
#custom-slider--button-1 {
  padding: 0;
  padding-right: 14px;
}
#custom-slider--button-2 {
  padding: 0;
  padding-left: 14px;
}
@media screen and (max-width: 960px) {
  .custom-slider--button {
    font-size: 1em;
    margin: 0;
  }
  .custom-slider--buttons {
    max-width: 300px;
  }
}
.custom-slider--button:after {
  position: relative;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: black;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.custom-slider--button.custom-slider--button-active:after {
  width: 100%;
}
.custom-slider--view-more {
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/*  .standalone-bottomline {

   display: none;

  } */

.text-m::before {
  content: "(";
}

.text-m::after {
  content: ")";
}

.product-yotpo-review-stars .text-m {
  display: initial;
}

#shopify-section-1657206826f8baf6ce {
  display: none;
}
#shopify-section-1657206826f8baf6ce .custom-slider--buttons {
  padding-top: 4rem;
}

/* ------------------------------------------------------------ *\
  Section Frequently Bought
\* ------------------------------------------------------------ */

/* .section-frequently-bought {
}

.section-frequently-bought .section__header {
}

.section-frequently-bought .section__body {
}

.section-frequently-bought .section__products {
} */

.section-frequently-bought .section__products__image {
  max-width: 180px;
  width: 100%;
  height: 180px;
  position: relative;
}

.section-frequently-bought .section__products__image.is-hidden {
  display: none;
}

.section-frequently-bought .section__products__image.is-hidden:after {
  display: none;
}

.section-frequently-bought .section__products__image:not(:first-child):not(:only-child):before {
  content: "+";
  font-size: 72px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}

.section-frequently-bought .section__products__image a {
  display: block;
}

.section-frequently-bought .section__products__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-frequently-bought .section__checkbox {
  margin-bottom: 10px;
}

.section-frequently-bought .section__checkbox input {
  opacity: 0;
  position: absolute;
}

.section-frequently-bought .section__checkbox input:checked ~ label:after {
  opacity: 1;
  visibility: visible;
}

.section-frequently-bought .section__checkbox label {
  position: relative;
  display: flex;
  align-items: center;
}

.section-frequently-bought .section__checkbox label:before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  height: 18px;
  width: 18px;
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
}

.section-frequently-bought .section__checkbox label:after {
  content: "\2713";
  display: block;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #f1603b;
  width: 18px;
  height: 18px;
  position: absolute;
  top: auto;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.section-frequently-bought .section__actions a[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
