/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
  Custom CSS
/* ------------------------------------------------------------ *
/* ------------------------------------------------------------ *
* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *
  Delivery Time
* ------------------------------------------------------------ */

.delivery-time {
  padding-top: 1rem;
  margin: 0;
  font-size: 12px;
  color: var(--color-grey);
  text-align: center;
}

.delivery-time strong {
  font-weight: bold;
}
