{% layout "noindex" %}

<style type="text/css">
  section {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
</style>

<section>
  <h1 class="font-size--up-3 font-bold">
    .grid
  </h1>

  <p>Standard float-based grid.</p>

  <div class="grid--up-1 text-center">
    <div class="grid-item one margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one</div>
    </div>
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-two</div>
    </div>
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-two</div>
    </div>
    <div class="grid-item one-three margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-three</div>
    </div>
    <div class="grid-item one-three margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-three</div>
    </div>
    <div class="grid-item one-three margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-three</div>
    </div>
    <div class="grid-item three-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">three-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">one-four</div>
    </div>
    <div class="grid-item two-seven margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">two-seven</div>
    </div>
    <div class="grid-item five-seven margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">five-seven</div>
    </div>
  </div>

  <p class="font-italic">&hellip;columns up to sixteen.</p>
</section>


<section>
  <h1 class="font-size--up-3 font-bold">
    .grid-reverse
  </h1>

  <div class="grid--up-1 grid-reverse">
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">1</div>
    </div>
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1">2</div>
    </div>
  </div>
</section>


<section>
  <h1 class="font-size--up-3 font-bold">
    .grid-bar
  </h1>

  <p>Inline block grid, vertically centered.</p>

  <div class="grid-bar--up-1">
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 125px;">one-two</div>
    </div>
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 50px;">one-two</div>
    </div>
  </div>
</section>


<section>
  <h1 class="font-size--up-3 font-bold">
    .grid-bar-reverse
  </h1>

  <div class="grid-bar--up-1 grid-bar-reverse">
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 125px;">1</div>
    </div>
    <div class="grid-item one-two margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 50px;">2</div>
    </div>
  </div>
</section>


<section>
  <h1 class="font-size--up-3 font-bold">
    .grid-uniform
  </h1>

  <p>Inline block grid. Use for grid items that vary in height.</p>

  <div class="grid-uniform--up-1">
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 80px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 125px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 90px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 60px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 90px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 80px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 125px;">one-four</div>
    </div>
    <div class="grid-item one-four margin-bottom--up-1">
      <div class="box-placeholder padding--down-1" style="height: 60px;">one-four</div>
    </div>
  </div>
</section>
