<div class="about-sections">
  <h1 class="invisible">{{ page.title }}</h1>
  {% section "business-section-1" %}
  {% section "business-section-2" %}
  {% section "business-featured-collection" %}
  {% section "instagram" %}
</div>