<div class="about-sections">
  <h1 class="invisible">{{ page.title }}</h1>
  {% section "about-section-1" %}
  {% section "about-section-2" %}
  {% section "about-section-3" %}
  {% section "about-featured-collection" %}
  {% section "instagram" %}
</div>